/* ContactForm.css */

.contact-form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: transparent;
  }
  
  .contact-form-container h2 {
    text-align: center;
  }

  .contact-form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #3f5b81;
  }  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
    
  .contact-us-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .contact-us-container h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  