.service__card__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #f2f2f2; /* Grey background color */
  border-radius: 10px; /* Rounded corners */
  border: 1px solid #ccc; /* Grey border */
  overflow: hidden; /* Ensure border and border-radius are applied properly */
  width: 100%;
}
.service__cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.service__card__item__text {
  flex: 1;
  padding: 1rem; /* Add padding for inner content */
}

.service__card__item__text h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.service__card__item__text p {
  font-size: 1.2rem; /* Increase font size for paragraph */
}

.service__card__item__link {
  text-decoration: none;
  color: #007bff;
}

.service__card__item__image {
  flex: 1;
  padding: 1rem; /* Add padding for inner content */
  overflow: hidden; /* Ensure border and border-radius are applied properly */
}

.service__card__item__img {
  width: 100%;
  border-radius: 10px; /* Rounded corners on the left side */
}
