* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .about-us,
  .gallery,
  .contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px; /* Use padding instead of fixed height */
    font-size: 3rem;
  }
  
  
  .services {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .about-us {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .gallery {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .contact-us {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #010101;
    font-size: 100px;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
  }
  